body {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #293651;
}

.primeira-cor {
  color: #00a78e;
}

.img {
  text-align: center;
}

.btn {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #00a78e;
  color: #fff;
  padding: 0 40px;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover {
  background-color: #293651;
}

.container {
  margin: 50px 150px;
}